# Exclude common Python files and directories
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.egg-info/

# Exclude development and local files
.env
.env.*
*.log
*.db
.DS_Store
.pytest_cache/
.ruff_cache/
.idea/
logs/

# Exclude version control system files
.git/
.gitignore
.svn/

storage/
config.toml
