# OS固有
.DS_Store

# Pythonキャッシュ
__pycache__/
**/__pycache__/

# Python仮想環境
venv/
.venv/

# 設定・ログ・一時ファイル
config.toml
logs/
.idea/
.vscode/
storage/
*.log

# Streamlit
**/.streamlit/

# Node.js
node_modules/

# VuePress
/sites/docs/.vuepress/.temp/
/sites/docs/.vuepress/.cache/
/sites/docs/.vuepress/dist/

# モデル
models/
models/*

# その他
app/services/__pycache__/
app/config/__pycache__/
app/models/__pycache__/
app/utils/__pycache__/
.pdm-python
forme
